[Unit]
Description=Spring Boot App
After=syslog.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/src/
ExecStart=/usr/bin/java -jar /home/ec2-user/src/myTech.jar
Environment="PROD_DB_HOST=localhost"
Environment="PROD_DB_NAME=mytechdb"
Environment="PROD_DB_USERNAME=root"
Environment="PROD_DB_PASSWORD=root"
Environment="PROD_DDL=update"
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target